*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Baloo Thambi 2', cursive;    
    color: rgb(43, 51, 52);
}

header{
    position: sticky;
    top: 0;
}

hr{
    background-image: linear-gradient(90deg, rgb(203, 201, 202), transparent);    
    border: 0;
    height: 2px;
    margin: 40px;
}

/* navbar styling */
nav{
    height: 10vh;
    background-color: rgb(160, 212, 219);  
    box-shadow: 0px 0px 10px 5px rgb(223, 231, 232);
}

.nav-links{
    display: flex;
    list-style: none;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-links li a:hover{ 
    transform: scale(1.1);
    color: rgb(58, 88, 92);
}

.fa-paw{
    color: white;
    font-size: 60px;
    margin-right: 40px;    
}

.fa-paw:hover{    
    transform: scale(1.1); 
}

/* container styling */
.container{
    width: 90vw;
    margin: 60px auto;
}

/* common itens styling */
.btn{
    width: 170px;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: rgb(160, 212, 219);
    color: white;
    box-shadow: 3px 2px rgb(203, 201, 202);     
}

.title{
    text-align: center;    
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 50px;
}

.btn:hover{    
    box-shadow: 2px 3px rgb(153, 151, 152);
    background-color: rgb(150, 202, 209);
}

/* landing styling */
.landing-row{
    display: grid; 
    grid-template-columns: 650px 1fr;
    grid-gap: 30px;
}

.landing-row img{
    width: 100%;
}

.landing-row div h1{
    font-size: 80px;
    text-transform: uppercase;
}

.landing-row .btn a{
    text-decoration: none;
    color: inherit;
}

/* facts-row styling */
.facts-row .facts-ul{
    list-style: none;
    width: 90%;
    margin: 50px auto;
    font-size: 20px;
}

/* images-row styling */
.images-row .cat-container{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-gap: 10px;
}

.images-row .cat-container .random-cat-img{    
    width: 100%;
    height: 100%;
}

#cat-img-btn{    
    margin: 30px auto;
    display: block;
} 
/* about-row and contact-row titles's style*/
.about-row .about-container .title, .contact-container .title{
    margin-bottom: 60px;   
}

/* about-row styling*/
.about-row .about-container{
    width: 60%;
    margin: 0px auto;
    padding: 10px 50px; 
    padding-bottom: 50px;        
    box-shadow: 0 0 20px rgb(203, 201, 202);
}

/* contact-row */
textarea{
    width: 80%;
    height: 150px;
    margin-top: 5px;
}

.contact-row{
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0, 0, 0, 0.35)), url("../images/contact-background.jpeg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
}

.contact-container{
    width: 50%;  
    margin: 60px;   
    padding: 20px 30px; 
    padding-bottom: 80px;   
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(203, 201, 202);
    background-color: white;     
    background: rgba(235, 235, 235, .7);
}

.form-container .title{
    margin: 30px;   
}

.form-container .form-group{
    padding: 5px;
    font-size: 25px;
    display: inline-block;
    width: 90%;
}

.form-container .form-group label{
    width: 20%;
    height: 30px;
    display: block;
}

.form-container .form-group input{
    width: 70%;
    height: 35px;
}

.form-container .btn{
    margin: 10px auto;
    display: block;
}

/* advantages-row styling*/
.advantages-row .advantages-container{
    width: 90%;
    margin: 10px auto;
}

.advantages-row .advantages-container ul{
    list-style-type: none;
}

.advantages-row .advantages-container ul li p{
    font-size: 25px;
}
.advantages-row .advantages-container ul li p i{
    font-size: 28px;
}

/* footer */

footer{
    border: 1px solid rgb(233, 231, 232);  
    font-size: 1.3rem;
    display: flex;
}

footer p{
    margin: 10px auto;
}

footer .fa{
    font-size: 25px;
    margin: 3px;
}

footer .fa-linkedin{
    background-color: rgb(40,103,178);
    color: white;
}

footer .fa-github{
    color: black;
}

/* responsive */
@media screen and (max-width: 768px){

    nav{
        position: relative;
    }

    .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }

    .hamburguer{
        position: absolute;
        cursor: pointer;        
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 1;
    }

    /* a clip-path circle shaped, that starts out of the screen and fills it with the .open class */
    .nav-links{
        background-color: rgb(160, 212, 219);	  
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }      
}